body
{
    background-color: rgb(117, 131, 168);
}
div{
    text-align: center;
}
img{
    width: 30%;
    
}
h1{
    background-color: #1fdd98;
    color: rgb(11, 12, 12);
    margin: auto;
}
h3{
    color: blue;
}
