body
{
    font-family: 'Quicksand', sans-serif;
    background-color: rgb(117, 131, 168);
    color: rgb(250, 255, 255);
    
}
.header
{
    border: 4px solid rgb(104, 153, 153);
    border-radius: 70px;
    background-color: rgb(153, 159, 209);
    color: rgb(250, 255, 255);
    /* margin-left: 875px; */
    margin: auto;
    width: 180px;
}
.header1
{
    background-color: rgb(104, 153, 153);
    color: rgb(250, 255, 255);
    /* padding-left: 50px; */
    margin: auto;
}
.A
{
    background-color: rgb(104, 153, 153);
    color: rgb(250, 255, 255);
    /* padding-left: 50px; */
    margin: auto;
}
h2 
{
    padding-left: 50px;
    background-color: rgb(104, 153, 153);
    color: rgb(250, 255, 255);
}
h3
{
    padding-left: 50px;
    background-color: rgb(104, 153, 153);
    color: rgb(250, 255, 255);
}
.BB
{
    border: 4px solid rgb(104, 153, 153);
    border-radius: 100px;
    background-color: rgb(153, 159, 209);
    color: rgb(250, 255, 255);
    width: 450px;
    margin: auto;
}
.Test
{
    font-size: 20px;
}
div a{
    font-size: 30px;
    font-weight: bold;
    color: blue ;
}
div{
    text-align: center;
}
img{
    width: 15%;
}

