body
{  
    font-family: 'Quicksand', sans-serif;
    background-image: linear-gradient(#F2C2CB, #F2C9BB);
}

/*NavBar*/
#test {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #9896D9;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

li a 
{
    font-weight: bold;
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#ti
{
    font-weight: bold;
      float: right;
      color: rgb(240, 240, 240);
    padding-right: 16px;
    text-align: center;
    text-decoration: none;

}
  
li a:hover 
{
    background-color: #7c7baf;
    bottom: 10px;
}

/*NavBar*/
.grid-container 
{
    margin-top: 5%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 15px;
}
.grid-container > div{
    
    border: 5px solid #7c7baf;
    /* background-color:#f1d2d7; */
    font-size: 20px;
    text-align: center;
}
#resu 
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25%;
    width: 70%;
    grid-column: 1 / span 3;
}
#Topic
{
    font-weight: bold;
    background-color:#f1d2d7;
    border-radius: 10px;
    text-align: center;
    margin-top: 25%;
    grid-column: 2 / span 1;
}
.Panel 
{
    grid-column: 1 / span 3;
    margin-top: 2%;
    border-radius: 10px;
    /* background-color: #9896D9; */
    display: grid;
    grid-template-columns: auto auto auto ;
    grid-gap: 15px;
}
.Panel  > div{
    /* border: 2px solid black;
    font-size: 20px;
    background-color:rgb(204, 148, 110); */
    text-align: center;
}
#pro1
{
    /* border: 5px solid#7c7baf; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 5%;
    width: 50%;
    box-shadow: 5px 5px rgb(182, 143, 143);
    grid-column: 1 / span 2;
}
#sub_pro1
{
    border-radius: 10px;
    border: 3px solid#7c7baf;
    text-align: center;
    margin-top: 10%;
    width: 70%;    
    grid-column: 3 / span 1;
}
#sub_pro1 ul
{
    border-radius: 10px;
    border: 3px solid#7c7baf;
    text-align: center;
    margin-top: 10%;
    width: 70%;    
    grid-column: 3 / span 1;
}
#pro2 img
{
    width: 30%;
    grid-column: 1 / span 2;
}

@media only screen and (max-width: 767px)
{   
.grid-container 
{
    display: grid;
    grid-template-columns: auto;
    grid-gap: 15px;
}
#resu 
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    border-radius: 25%;
    width: 70%;
    grid-column: 1 / span 1;
}
div ul
{
    margin: auto;
}
#Topic
{
    
    text-align: center;
    margin-top: 25%;
    grid-column: 1 / span 1;
}
#pro1
{
    /* border: 5px solid#7c7baf; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 5%;
    width: 50%;
    grid-column: 1 / span 1;
}
#sub_pro1
{
    border-radius: 10px;
    border: 3px solid#7c7baf;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    width: 70%;
    grid-column: 1 / span 1;
}
}
@media only screen and (max-width: 500px)
{   
.grid-container 
{
    display: grid;
    grid-template-columns: auto;
    grid-gap: 15px;
}
#resu 
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    border-radius: 25%;
    width: 70%;
    grid-column: 1 / span 1;
}
div ul
{
    margin: auto;
}
#Topic
{
    
    text-align: center;
    margin-top: 25%;
    grid-column: 1 / span 1;
}
}

