body{
    background-color: lightpink;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}
.all{
    background-color: lightgoldenrodyellow;
}
#game-container {
	margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

#game-layer {
    position: relative;
    width: 500px;
    height: 500px;
    background-color: white;
    border: 3px solid black;
}

.square {
    position: absolute;
    width: 25px;
    height: 25px;
    border: 2px solid black;
}

.red{
    background-color: red; 
}
.blue{
    background-color: blue; 
}

.green{
    background-color: green; 
}
